body{
    background-image:url(fundo_praias.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

header {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.selecaoPraias2 {
    text-align: center;
    padding-top: 250px;
}

.selecaoPraias2 img {
    transition: 0.5s;
}

.selecaoPraias2 img:hover {
    transition: 0.5s;
    transform: translateY(-20px);
}

a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}